@charset "UTF-8";
@font-face {
  font-family: "StratosSkyengWeb-Regular";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("StratosSkyengWeb-Regular"), url("../fonts/stratosskyengweb-regular.woff2") format("woff2"), url("../fonts/stratosskyengweb-regular.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "StratosSkyengWeb-Regular", sans-serif;
  background: #004980;
  width: 100vw;
  height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 480px;
  height: 459px;
  left: 272px;
  top: 158px;
  background-color: #c2f5ff;
  border-radius: 12px;
}

.wrap {
  width: 100%;
  height: 100%;
  left: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 35px;
  align-items: center;
}

.cap {
  margin: 20px auto;
  background-color: #004980;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 700px;
  gap: 240px;
}

.time {
  width: 155px;
  height: 91px;
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.min {
  width: 73px;
  color: #ffffff;
  text-align: right;
}

.show__min,
.show__empty,
.show__sec {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #ffffff;
}

.empty {
  width: 9px;
  display: flex;
  align-items: flex-end;
}

.sec {
  width: 73px;
  color: #ffffff;
  text-align: right;
}

.field__cards {
  margin: 0 auto;
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 700px;
  background: #004980;
}

.card {
  width: 95px;
  height: 133px;
  border-radius: 4px;
  position: relative;
  perspective: 1000px;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 4px;
}

.back {
  background-color: #fff;
  transform: rotateY(-180deg);
}

.card__front {
  transform: rotateY(-180deg);
  transition: transform 1s ease-in-out;
}

.card__front_hidden {
  transform: rotateY(0deg);
  transition: transform 1s ease-in-out;
}

.card__back {
  transform: rotateY(-360deg);
  transition: transform 1s ease-in-out;
}

.card__back_hidden {
  transform: rotateY(-180deg);
  transition: transform 1s ease-in-out;
}

.title {
  white-space: pre-line;
  width: 208px;
  height: 96px;
  left: 408px;
  top: 210px;
  font-family: "StratosSkyengWeb-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #004980;
  margin-bottom: 48px;
}

.windows {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 24px;
  margin-bottom: 67px;
}

.window {
  width: 97px;
  height: 98px;
  left: 342px;
  top: 354px;
  font-family: "StratosSkyengWeb-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #0080c1;
  background: #ffffff;
  border-radius: 12px;
}

.window input[type=radio] {
  display: none;
}

.window label {
  cursor: pointer;
  border-radius: 12px;
}

/* Checked */
.window input[type=radio]:checked + label {
  border: 3px solid #004980;
  padding: 10px 30px;
  line-height: 72px;
}

/* Hover */
.window:hover label {
  color: #666;
}

.window:hover input[type=radio] + label {
  border: 3px solid #004980;
  padding: 10px 30px;
  line-height: 72px;
}

.button__start {
  width: 246px;
  height: 48px;
  left: 389px;
  top: 519px;
  /* Pres → Caption S */
  font-family: "StratosSkyengWeb-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  background: #7ac100;
  border-radius: 12px;
  border: none;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s, transform 0.2s;
}

.button__start:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.button__start:active {
  box-shadow: 0 4px 6px rgb(0, 0, 0);
  transform: translateY(2px);
}

@media screen and (max-width: 645px) {
  .cap {
    gap: 40px; /* значение gap для узких экранов */
    justify-content: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 534px) {
  .wrap {
    gap: 5px;
  }
  .card {
    width: 78px;
    height: 98px;
    border-radius: 4px;
  }
  .field__cards {
    gap: 7px;
  }
  .cap {
    gap: 15px; /* значение gap для узких экранов */
  }
}/*# sourceMappingURL=card_game.css.map */